*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
}

button{
    width: 150px;
    height:100px;
    border-radius: 10px;
    border-color: rgb(49, 49, 49);
    background-color:  rgb(31, 31, 31);
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.botao{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
